
.buttonAddCart button{
    height: 28px;
    border: 2px solid var(--nav-color);
    background-color: var(--backgroud-color);
    border-radius: 10px;
    width: 200px;
    margin-top: 29px;
    margin-left: 20px;
    cursor: pointer;
}