.detail-interactive{
    display: flex;
    flex-direction: row;
}

.itemCount{
    width: 110px;
    display: flex;
    flex-direction: row;
    background-color: var(--card-color);
    border:  2px solid var(--buton-color);
    border-radius: 10px;
    margin-top: 30px;
}

.itemCount button{
    width: 50px;
    border: none;
    background-color: var(--card-color);
    border-radius: 10px;
    cursor: pointer;
    color: var(--buton-color);
}

.itemCount span{
    color: var(--buton-color);
}


.buttonAddCart button{
    height: 28px;
    border: 2px solid var(--nav-color);
    background-color: var(--backgroud-color);
    border-radius: 10px;
    width: 200px;
    margin-top: 29px;
    margin-left: 20px;
    cursor: pointer;
}