.navContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
}
  
.navBar1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.title{
    margin: 20px;
}
  
.cartIcon{
    font-size: 30px;
    margin: 20px;
}
  
.navBar2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
  
.navItem{
    list-style: none;
}