footer{
    height: 200px;
    background-color: var(--buton-color);
    color: var(--backgroud-color);
    margin-bottom: 0;
    padding: 20px;
}

footer ul li{
    color: var(--backgroud-color);
    list-style: none;
}