:root{
  --card-color:#B2C5B2;
  --nav-color:#3C5148;
  --backgroud-color:#D5DDDF;
  --buton-color:#1B2727;
  --title-color:#6B8E4E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

li, a{
  text-decoration: none;
  color:#000;
}

body{
  background-color: var(--backgroud-color);
}



